
@model QuanLySachThuVien.Models.NguoiDung

@{
    ViewBag.Title = "TaiKhoanCuaToi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
<meta charset="UTF-8">

<style>
    .form-group {
        display: flex;
        align-items: center;
        margin-top: 10px;
    }

        .form-group label {
            width: 150px;
            margin-right: 10px; /* optional for spacing between label and input */
        }

        .form-control {
            width: 600px;
        }

        .form-group {
            flex: 1;
        }
    label {
        font-weight: bold;
    }

    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type=number] {
        -moz-appearance: textfield; /* Firefox */
    }
</style>
<div class="row">
    <div class="back-btn">
        <a href="@Url.Action("Index", "TrangChu")" class="btn btn-success">
            <i class="fas fa-arrow-left mr-2">Trở về</i>
        </a>
    </div>
    <h2 style="margin-top: 10px">Thông tin tài khoản</h2>
    @using (Html.BeginForm("TaiKhoanCuaToi", "DangNhap", FormMethod.Post, new { enctype = "multipart/form-data", acceptcharset = "UTF-8" }))
    {
        @Html.AntiForgeryToken()
<div class="form-horizontal" style="margin: 10px 0 0 200px">

    <input name="maNguoiDung" value="@Model.maNguoiDung" type="hidden" style="display: none" />
    <div class="form-group d-flex row">
        <label for="email">Email:</label>
        @Html.EditorFor(m => m.email, new { htmlAttributes = new { @class = "form-control", id = "email" } })
    </div>

    <div class="form-group d-flex row">
        <label for="hoTen">Họ tên:</label>
        @Html.EditorFor(m => m.hoTen, new { htmlAttributes = new { @class = "form-control", id = "hoTen" }})
    </div>

    <div class="form-group d-flex row">
        <label for="ngaySinh">Ngày sinh:</label>
        @Html.TextBoxFor(m => m.ngaySinh, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date", id = "ngaySinh" })
    </div>

    <div class="form-group d-flex row">
        <label for="queQuan">Quê quán:</label>
        @Html.EditorFor(m => m.queQuan, new { htmlAttributes = new { @class = "form-control", id = "queQuan" }})
    </div>

    <div class="form-group d-flex row">
        <label for="sdt">Số điện thoại:</label>
        @Html.EditorFor(m => m.sdt, new { htmlAttributes = new { @class = "form-control", id = "sdt" }})
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10" style="margin-left: 30%">
            <input type="submit" id="btnEdit" value="Cập nhật" style="background-color: #00ACE8 !important;" class="btn btn-default btn-primary" />
        </div>
    </div>
</div>
    }
    <p style="color:  blue; font-weight: bold; margin: 10px 0 0 200px">@ViewBag.thongBao</p>
</div>
