@model PagedList.IPagedList<QuanLySachThuVien.Models.Sach>
@using PagedList.Mvc

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<link href="~/Content/keyFrame.css" rel="stylesheet" />
<link href="~/Content/PagedList.css" rel="stylesheet" />
<style>
    #deleteForm, .table {
        width: 100%;
    }

    .btnxx {
        background-color: #00ACE8 !important;
        color: white;
        font-weight: bold;
    }

    a {
        text-decoration: none;
        font-weight: bold;
    }

    .btn-them {
        //border: 1px solid black;
        height: 50px;
        width: 180px;
        text-align: center;
        display: flex; /* Sử dụng flexbox để căn giữa theo chiều dọc */
        justify-content: center; /* Căn giữa theo chiều ngang */
        align-items: center;
    }

        .btn-them a {
            display: block;
            line-height: 100%;
        }

    .btn-xoa {
        display: flex;
        align-content: center;
        align-items: center;
        height: 48px;
        background-color: red;
        /* position: absolute;
        z-index: 100;*/
    }

    .bao {
        height: 50px;
    }

    .them-xoa {
        position: fixed;
        top: 0;
        display: flex;
        justify-content: space-between;
        height: 50px;
        width: 85%;
        /*width: 100%;*/
        background-color: white;
        box-shadow: 0 2px 4px rgba(0,0,0,0.1);
        transition: top 0.3s;
    }


    .btn-them {
        height: 50px;
        width: 180px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

        .btn-them a {
            display: block;
            line-height: 100%;
            padding: 10px 20px;
            background-color: #0FC2C2;
            color: white;
            border-radius: 25px;
            text-decoration: none;
            transition: background-color 0.3s;
        }

            .btn-them a:hover {
                background-color: #009999;
            }

    .btn-xoa {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 48px;
        background-color: red;
        color: white;
        border-radius: 25px;
        padding: 0 20px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

        .btn-xoa:hover {
            background-color: darkred;
        }

    .bao {
        padding: 10px 0;
        background-color: #f9f9f9;
    }

    .them-xoa {
        position: fixed;
        top: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 70px;
    
        background-color: white;
        box-shadow: 0 2px 4px rgba(0,0,0,0.1);
        padding: 0 2.5%;
        transition: top 0.3s;
        z-index: 1000;
    }

        .them-xoa input[type="text"] {
            width: 450px;
            background-color: #F4E19D;
            border-radius: 25px;
            border: none;
            padding: 10px 20px;
            margin-right: 10px;
            font-size: 16px;
        }

        .them-xoa input[type="submit"] {
            background-color: #0FC2C2;
            border-radius: 25px;
            width: 120px;
            border: none;
            color: white;
            padding: 10px 20px;
            font-size: 16px;
            cursor: pointer;
            transition: background-color 0.3s;
        }

            .them-xoa input[type="submit"]:hover {
                background-color: #009999;
            }
</style>



@*@if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success" style="position:fixed; z-index:100;">
            @TempData["SuccessMessage"]
        </div>
    }*@
<div class="modal" id="confirmDelete" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Xác nhận xóa</h5>
                <button type="button" class="close" data-dismiss="modal" onclick="confirmDelete(false)" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Bạn có chắc chắn muốn xóa các sách đã chọn không?</p>
                <ul id="selectedBooksList"></ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" onclick="confirmDelete(true)">Có</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="confirmDelete(false)">Không</button>

            </div>
        </div>
    </div>
</div>
y>
<div class="bao">
    <div class="them-xoa" id="them-xoa">
        <div class="btn-them">
            @Html.ActionLink("Thêm sách mới", "Create", null, new { @class = "btn btn-light btnxx" })
        </div>
        <div>
            @using (Html.BeginForm("Index", "BaoTriSach", FormMethod.Post))
            {
                <div class="justify-content-xxl-center">
                    <input type="text" name="searchString" placeholder="Nhập từ khóa ...">
                    <input type="submit" value="Tìm kiếm">
                </div>
            }
        </div>
        <div>
            <div class="btn-xoa" onclick="showConfirmDelete()">Xóa</div>
        </div>
    </div>
</div>

@using (Html.BeginForm("DeleteList", "BaoTriSach", FormMethod.Post, new { id = "deleteForm" }))
{

    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th></th>
                <th>Mã sách</th>
                <th>Danh mục</th>
                <th>Tên sách</th>
                <th>Hình ảnh</th>
                <th>Số trang</th>

                <th>Số lượng</th>
                <th>Năm xuất bản</th>
                <th>Nhà xuất bản</th>
                <th>Giá tiền</th>
                <th>Tác giả</th>
                <th>Thao tác</th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <input style="width:30px; height:30px;" class="form-check-input" type="checkbox" name="selectedProducts" value="@item.maSach" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.maSach)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DanhMuc.tenDanhMuc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tenSach)
                </td>
                <td>
                    @{
                        string path = "~/Content/Images/" + item.hinhAnh;
                    }

                    <img src="@Url.Content(path)" class="img-thumbnail" width="150" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.soTrang)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.soLuong)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.namXuatBan)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nhaXuatBan)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.giaTien)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tenTacGia)
                </td>
                <td>
                    @Html.ActionLink("Sửa", "Edit", new { id = item.maSach })

                </td>
            </tr>
        }

    </table>
}
Trang @(Model.PageNumber) / @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
<script>
    //window.onscroll = function() {scrollFunction()};

    //function scrollFunction() {
    //    if (document.body.scrollTop > 50 || document.documentElement.scrollTop > 50) {


    //        document.getElementById("them-xoa").style.position = "fixed";
    //        document.getElementById("them-xoa").style.width = "87%";
    //        document.getElementById("btn-xoa").style.position = "fixed";
    //        document.getElementById("them-xoa").style.top = "0";
    //    } else {
    //        document.getElementById("them-xoa").style.position = "relative";
    //        document.getElementById("btn-xoa").style.position = "relative";
    //        document.getElementById("them-xoa").style.width = "100%"
    //        //document.getElementById("them-xoa").style.top = "-100px";
    //    }
    //}
</script>

<script>
    function showConfirmDelete() {
        var confirmDelete = confirm("Bạn có chắc chắn muốn xóa các sách đã chọn không?");
        if (confirmDelete) {
            document.getElementById("deleteForm").submit();
        }
    }
</script>




<script>
    function updateSelectedBooksList() {
        var selectedBooksList = document.getElementById("selectedBooksList");
        selectedBooksList.innerHTML = ""; // Xóa danh sách cũ

        var selectedBooks = document.querySelectorAll('input[name="selectedProducts"]:checked');
        selectedBooks.forEach(function (book) {
            var listItem = document.createElement("li");
            listItem.textContent = book.parentNode.nextElementSibling.nextElementSibling.textContent; // Lấy tên sách từ cột thứ 3

            selectedBooksList.appendChild(listItem);
        });
    }
    function confirmDelete(isConfirmed) {
        if (isConfirmed) {
            // Nếu người dùng chọn Yes, gửi yêu cầu xóa đi
            document.getElementById("deleteForm").submit();
        } else {
            // Nếu người dùng chọn No, ẩn đi hộp thoại
            document.getElementById("confirmDelete").style.display = "none";
        }
    }

    function showConfirmDelete() {
        // Hiển thị hộp thoại hỏi khi người dùng nhấn nút "Xóa"
        updateSelectedBooksList();
        document.getElementById("confirmDelete").style.display = "block";
    }
</script>
<script>
    setTimeout(function () {
        var successMessage = document.querySelector('.alert-success');
        if (successMessage) {
            // Hiển thị thông báo thành công
            successMessage.style.display = 'block';

            // Đợi 3 giây nữa và sau đó ẩn thông báo
            setTimeout(function () {
                successMessage.style.display = 'none';
            }, 300000);
        }
    }, 3000);
</script>