@model IEnumerable<QuanLySachThuVien.Models.Sach>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>



<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DanhMuc.tenDanhMuc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tenSach)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hinhAnh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.soTrang)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.moTa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.soLuong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.namXuatBan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nhaXuatBan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.giaTien)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tenTacGia)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DanhMuc.tenDanhMuc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tenSach)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hinhAnh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.soTrang)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.moTa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.soLuong)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.namXuatBan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nhaXuatBan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.giaTien)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tenTacGia)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.maSach }) |
            @Html.ActionLink("Details", "Details", new { id=item.maSach }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.maSach })
        </td>
    </tr>
}

</table>
