
@{
    var nguoiDungNow = (QuanLySachThuVien.Models.NguoiDung)System.Web.HttpContext.Current.Session["NguoiDung"];
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        /* Thiết lập chiều rộng cố định cho menu dọc */
        .vertical-menu {
            width: 250px; /* Độ rộng của menu */
            height: 1000px;
            background-color: #E0E5F2; /* Màu nền */
            padding: 10px;
            box-shadow: 2px 0 5px rgba(0,0,0,0.1);
        }

            /* Thiết lập màu nền và khoảng cách giữa các mục menu */
            .vertical-menu a {
                margin: 20px 0;
                font-weight: bold;
                padding: 15px 20px; /* Khoảng cách giữa các mục */
                display: block; /* Hiển thị mỗi mục trên một dòng */
                color: #212529; /* Màu chữ */
                text-decoration: none; /* Gỡ bỏ đường gạch chân */
                border-radius: 30px;
                transition: background-color 0.3s, color 0.3s;
                border: 1px solid transparent;
            }

                /* Tạo hiệu ứng hover khi di chuột vào các mục */
                .vertical-menu a:hover {
                    background-color: #00ACE8;
                    color: #fff;
                    border: 1px solid #00ACE8;
                }

                .vertical-menu a.active {
                    background-color: #0056b3;
                    color: #fff;
                    border: 1px solid #0056b3;
                }

        .logo {
            text-align: center;
            margin-bottom: 30px;
        }

            .logo img {
                height: 50px;
                vertical-align: middle;
            }

            .logo span {
                font-weight: bold;
                font-size: 16px;
                vertical-align: middle;
                color: #0056b3;
            }

        /* Kiểu cho các mục dropdown */
        .dropdown {
            position: relative;
            display: inline-block;
        }

        /* Kiểu cho menu dropdown */
        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
            border-radius: 6px;
        }

            /* Kiểu cho các mục trong menu dropdown */
            .dropdown-content a {
                color: black;
                margin: 0;
                padding: 10px;
                width: 200px;
                text-decoration: none;
                display: block;
                text-align: left;
            }

        /* Hiển thị menu dropdown khi di chuột vào */
        .dropdown:hover .dropdown-content {
            display: block;
        }

        /* Hiển thị submenu khi di chuột vào mục con */
        .dropdown-submenu:hover .dropdown-content {
            display: block;
            left: 100%;
            top: 0;
        }

        /* Đảm bảo submenu nằm ngang bên phải của mục chính */
        .dropdown-submenu {
            position: relative;
        }

        .dropdown:hover .dropbtn {
            background-color: #00ACE8;
            color: #fff;
        }

        .dropdown-content > a {
            border-radius: 6px;
        }
    </style>
</head>

<body>
    <div class="d-flex">
        <div class="vertical-menu">
            <div class="logo">
                <img src="~/Content/Images/logo-haui.png" width="50" style="margin-right: 10px;" />
                <span>Thư viện sách HaUI</span>
            </div>
            <a href="#">Trang chủ</a>
            @Html.ActionLink("Bảo trì danh mục", "Index", "Baotridanhmuc")
            @Html.ActionLink("Bảo trì sách", "Index", "Baotrisach")
            @if (Session["NguoiDung"] != null)
            {
                <div class="dropdown">
                    <a href="#" class="dropbtn">Xin chào @nguoiDungNow.hoTen !</a>
                    <div class="dropdown-content">
                        <a href="#">Tài khoản của tôi</a>
                        <a href="@Url.Action("DangXuat", "DangNhap")">Đăng xuất</a>
                    </div>
                </div>
            }
        </div>
        <div>
            @RenderBody();
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script>
        $(document).ready(function () {
            $('.vertical-menu a').on('click', function () {
                $('.vertical-menu a').removeClass('active');
                $(this).addClass('active');
            });
        });
    </script>
</body>
</html>
