﻿@model QuanLySachThuVien.Models.Sach

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Sach</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DanhMuc.tenDanhMuc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DanhMuc.tenDanhMuc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tenSach)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tenSach)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hinhAnh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hinhAnh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.soTrang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.soTrang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.moTa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.moTa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.soLuong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.soLuong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.namXuatBan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.namXuatBan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nhaXuatBan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nhaXuatBan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.giaTien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.giaTien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tenTacGia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tenTacGia)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.maSach }) |
    @Html.ActionLink("Back to List", "Index")
</p>